html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: "Source Sans 3", serif;
    font-style: normal;
    font-size: 20px;
    line-height: 1.4;
    background-color: #cde4f9;
}

.main-image {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 300px;
}

h1, h2, h3 {
     font-family: "Playfair Display", serif;
     line-height: 1.2;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    color: #dc6aa1;
    padding-top: 48px;
}

.author {
    color: #dc6aa1;
}

.perex {
    font-size: 24px;
    color: #808080;
    padding-top: 20px;
}

.author,
.perex {
    text-align: center;
}

section {
    background-color: #ffffff;
    max-width: 900px;
    padding: 30px 50px;
    margin: 20px auto;
    border-radius: 12px;
}

.eiffel {
    float: right;
    margin: 0 0 20px 20px;
    border-radius: 8px;
    width: 300px;
    height: 225px;
}

.oblouk {
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    width: 300px;
    height: 225px;
}

.louvre {
    float: right;
    margin: 0 0 20px 20px;
    border-radius: 8px;
    width: 300px;
    height: 225px;
}

.montmartre {
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    width: 300px;
    height: 225px;
}

.zahrady {
    margin: 20px 0 20px 0;
    border-radius: 8px;
    width: 100%;
}


/* .playfair-display-<uniquifier> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } -->